@font-face {
    font-family: 'twaysky';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'twaysky';
    margin: 0rem;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: aqua;
}

ul {
    list-style: none;
    display: flex;
    column-gap: 2rem;
    padding-right: 2rem;
}

section {
    margin: 8px;
}